version: "2.1"

networks:
  ledger:
    driver: bridge

services:
  mongo:
    container_name: ledger-mongo
    image: mongo:latest
    networks:
      - ledger
  redis:
    container_name: ledger-redis
    image: redis:latest
    networks:
      - ledger
  eyeshade-worker:
    container_name: eyeshade-worker
    command: "npm run eyeshade-worker"
    extends:
      file: base.yml
      service: ledger
    environment:
      - "MONGODB_URI=mongodb://mongo/eyeshade"
      - "SERVICE=eyeshade"
    depends_on:
      - mongo
      - redis
    networks:
      - ledger
  eyeshade-web:
    container_name: eyeshade-web
    ports:
      - "3002:3002"
    command: "npm run eyeshade-server"
    extends:
      file: base.yml
      service: ledger
    environment:
      - "MONGODB_URI=mongodb://mongo/eyeshade"
      - "SERVICE=eyeshade"
    depends_on:
      - mongo
      - redis
    networks:
      - ledger
  ledger-worker:
    container_name: ledger-worker
    command: "npm run ledger-worker"
    extends:
      file: base.yml
      service: ledger
    environment:
      - "SERVICE=ledger"
    depends_on:
      - mongo
      - redis
    networks:
      - ledger
  ledger-web:
    container_name: ledger-web
    ports:
      - "3001:3001"
    command: "npm run ledger-server"
    extends:
      file: base.yml
      service: ledger
    environment:
      - "SERVICE=ledger"
    depends_on:
      - mongo
      - redis
    networks:
      - ledger
  balance-web:
    container_name: balance-web
    ports:
      - "3003:3003"
    command: "npm run balance-server"
    extends:
      file: base.yml
      service: ledger
    environment:
      - "SERVICE=balance"
    depends_on:
      - redis
    networks:
      - ledger
